*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main: #FEFCFF;
  --sec: #011085;
  --third: #FF0011; 
}

p, h5{
  font-family: 'Playfair Display', serif;
  letter-spacing: 2.1px;
  color: #585858;
}
h1, h2, a,  button,h3{
  font-family: 'DM Serif Display', serif;
  
}
h4{
  font-family: 'Merriweather Sans', sans-serif;
}

@keyframes example {
  
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes example2 {
  
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(10px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}



.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #011085;

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--sec) solid var(--sec);
  outline-offset: .6em;
  font-size: 18px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}




.button-90 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fff;
  

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--sec) solid var(--sec);
  outline-offset: .6em;
  font-size: 18px;
  z-index: 1000;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-90:hover,
.button-90:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-90:active {
  background: var(--color);
  color: #fff;
}

@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 18px;
   top: 0;
  }
 
  23% {
   left: 18px;
   top: 0;
  }
 
  25% {
   left: 34px;
   top: 0;
  }
 
  35.5% {
   left: 34px;
   top: 0;
  }
 
  37.5% {
   left: 34px;
   top: 18px;
  }
 
  48% {
   left: 34px;
   top: 18px;
  }
 
  50% {
   left: 18px;
   top: 18px;
  }
 
  60.5% {
   left: 18px;
   top: 18px;
  }
 
  62.5% {
   left: 18px;
   top: 34px;
  }
 
  73% {
   left: 18px;
   top: 34px;
  }
 
  75% {
   left: 0;
   top: 34px;
  }
 
  85.5% {
   left: 0;
   top: 34px;
  }
 
  87.5% {
   left: 0;
   top: 18px;
  }
 
  98% {
   left: 0;
   top:18px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 15px ;
  transform: rotate(45deg);

 }
 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  margin: 2px;
  border-radius: 0px;
  background: var(--sec);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 }

